body {
    background-color: #F9FAFB;
    font-family: 'Sanchez', serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#app-header{
    background-color: #76BC3E;
    padding-bottom: 5px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 50px;
    border: 1px solid #D0D0D0;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}
#top-menu {
    float: left;
}
#top-menu>a, #logged-in-info>a {
   color: #ffffff;
}
#logged-in-info {
    display: inline-block;
    float: right;
}

#user-in-info {
    display: inline-block;
}

#app-footer {
    clear: both;
    background-color: #76BC3E;
    text-align: center;
    padding: 5px;
    padding-top: 12px;
    color: white;
    margin: 5px;
    height: 50px;
    border: 1px solid #D0D0D0;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}

.wrapper {
    width: 100%;
    display: block;
    background: white;
    border: 1px solid #D0D0D0;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}

.title {
    width: 100%;
    min-height: 40px;
    display: block;
    text-align: center;
    color: white;
    background-color: #76BC3E;
    padding-top: 1px;
}

.boxPost {
    width: 100%;
    display: block;
    background: white;
    margin: 15px 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

ul.posts {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
}

ul.posts li {
    list-style-type: none;
}

.box {
    width: 100%;
    display: block;
    background: white;
    margin: 15px 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}

.small-text{
    font-size: 12px;
}

.paging {
    width: 100%;
    display: block;
    background: white;
    text-align: center;
    margin-bottom: 15px;
}

.right {
    display: inline-block;
    float: right;
}

.commentBox {
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.formBox {
    width: 100%;
    display: block;
    background: white;
    margin: 15px 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="text"], input[type="password"], textarea {
    display: block;
    padding: 5px;
    width: 100%;
    appearance: none;
    box-shadow: rgba(80, 126, 50, 0.5) 0.5px 0.5px 3px;
}


.logRegBox {
    width: 400px;
    display: block;
    background: white;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    list-style-type: none;
}

li.info {
    color: green;
    display: block;
    vertical-align: middle;
    text-align: left;

}

li.error {
    color:red;
    display: block;
    vertical-align: middle;
    text-align: left;
}

.title>h4>a {
    color: #ffffff;
}



